@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

  /* Force table to not be like tables anymore */
  #ex-table, thead, tbody, th, td, tr {
    display: flex !important;
    flex-direction: column-reverse;
  }

  #ex-table {
    width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .reg {
    margin-top: 3% !important;
  }
}


img[src="null"] {
    display: none !important;
}



/* a[href="/questions/ask"] { display:none; } */

#ex-table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

button.btn {
  margin-left: 1%;
}

button.btn-warning {
/*  margin-bottom: 10%; */
}

.navbar-brand img {
  height: 69px;
}

#regOutput {
  padding: 1%;
  color: red;
}

#regSuccess {
  padding: 1%;
  color: green;
}

.reg {
  padding-top: 2%;
}

.col-md-3 {
  margin-left: auto;
  margin-right: auto;
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;

}

.profile-userpic {
  margin-left: auto;
  margin-right: auto;
}

.profile-userpic img {
  display: block;
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}
